@using AxonAccessMVC.Models.Clases;
@model AxonAccessMVC.Models.Mae_Sucursal


@{
    ViewBag.Title = "Axonia";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">

</head>
<body>

    <div class="online-w3l-form">

        <form action="~/Mae_Sucursal/Create2" method="post">
            @{ List<AxonAccessMVC.Models.Mae_Sucursal> sucursal = (List<AxonAccessMVC.Models.Mae_Sucursal>)ViewBag.sucursals;}

            <div class="main">
                <div class="form-left-w3l">
                    <input type="text" class="top-up" name="Direccion" placeholder="Direccion" maxlength="100" required title="Solo Texto. Tamaño máximo: largo de 100 caracteres">
                </div>
                <div class="form-left-w3l">
                    <input type="text" class="top-up" name="Descripcion" placeholder="Descripcion" maxlength="100" required title="Solo Texto. Tamaño máximo: largo de 100 caracteres">
                </div>
            </div>
            <div class="main">
                <div class="form-left-w3l">

                    <input type="text" class="top-up" name="Latitud" placeholder="Latitud" maxlength="15" required pattern="[A-Za-z0-9]+" title="números o letra.Tamaño máximo: 15 caracteres">
                </div>
                <div class="form-right-w3ls ">
                    <input type="text" class="top-up" name="Longitud" placeholder="Longitud" maxlength="15" required pattern="[A-Za-z0-9]+" title="números o letra.Tamaño máximo: 15 caracteres">
                    <div class="clearfix"></div>
                </div>
            </div>

                <div class="form-left-w3l">
                    <select class="form-control buttom" @Html.DropDownListFor(p => p.id_comuna, new SelectList(ViewBag.comunas, "Id_Comuna", "desc_comuna"))</select>
                </div>
            <div class="main">
                <div class="form-left-w3l">
                    <select class="form-control buttom" @Html.DropDownListFor(p => p.id_empresa, new SelectList(ViewBag.empresas, "Id_Empresa", "desc_empresa"))</select>
                </div>
                <div class="form-left-w3l">
                    <select class="form-control buttom" @Html.DropDownListFor(p => p.id_estado, new SelectList(ViewBag.estados, "Id_Estado", "desc_estado"))</select>
                </div>
            </div>


                <div class="btnn">
                    <input type="submit" value="Registrar Sucursal">
                </div>
        </form>
    </div>

</body>
</html>
