
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
</head>
<body>
    <form onsubmit="guardar()">
        <table>
            <tr>
                <td>
                    <input type="checkbox" name="store" />¿Guardar?
                </td>
                <td>
                    <input type="text" name="hola[]" value="Mundo" />
                </td>
                <td>
                    <input type="text" name="mundo[]" value="Hola" />
                    <input type="hidden" name="id[]" value="1" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="store" />¿Guardar?
                </td>
                <td>
                    <input type="text" name="hola" value="Mundo2" />
                </td>
                <td>
                    <input type="text" name="mundo" value="Hola2" />
                    <input type="hidden" name="id" value="2" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="store" />¿Guardar?
                </td>
                <td>
                    <input type="text" name="hola" value="Mundo3" />
                </td>
                <td>
                    <input type="text" name="mundo" value="Hola3" />
                    <input type="hidden" name="id" value="3" />
                </td>
            </tr>
        </table>
        <input type="submit" value="Guardar" />
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    </form>
    <script id="jsbin-javascript">
function guardar() {
  var toStore = {};
  var i = 0;
  $("input[type=\"checkbox\"]:checked").each(function(){
    toStore[i] = {};
    $(this).closest('td').siblings().each(function(){
      $(this).find(':input').each(function() {
        toStore[i][this.name] = this.value;
      });
    });
    i++;
  });
  toStore = JSON.stringify(toStore);
  console.log(toStore);
  return false;
}
    </script>



</body>
</html>
