@model List<AxonAccessMVC.Models.Clases.Ref_Role>
@{
    ViewBag.Title = "Axonia";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexRegistrado</title>
    <link rel="icon" href="~/images/favicon.png" sizes="32x32" />
    <title>@ViewBag.Title - AxonAccess</title>
    <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">
</head>
<body>

    <div>
        <iframe width="1600" height="800" src="https://app.powerbi.com/reportEmbed?reportId=95438164-7a91-4000-bfef-b4d2ff5b89d4&autoAuth=true&ctid=5b8eb3de-48a8-4681-9b24-68a4cdbcb2bc&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</body>
</html>
