@model List<AxonAccessMVC.Models.Clases.Ref_Role>
@{
    ViewBag.Title = "Axonia";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexRegistrado</title>
    <link rel="icon" href="~/images/favicon.png" sizes="32x32" />
    <title>@ViewBag.Title - AxonAccess</title>
</head>
<body>
    <div>
        <img src="~/images/AxonAcces2.jpg" width="1600" height="830">
    </div>
</body>
</html>
