@using AxonAccessMVC.Models.Clases;
@{
    ViewBag.Title = "Axonia";

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../../css/mdb.min.css">
    <!-- Your custom styles (optional) -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <style>
    </style>
</head>
@{ List<Usuario> usuarios = (List<Usuario>)ViewBag.usuarios;}
<body class="fixed-sn white-skin">
    @foreach (var usuario in usuarios)
    {
        <main>
            <div class="container-fluid">
                <div class="mt-lg-5 mb-5">

                    <h4 class="text-left font-weight-bold dark-grey-text">Axonia</h4>

                    <p class="grey-text mt-3">Bienvenido @usuario.Nombre @usuario.App_Pater a tu sesion de AxonAccess. </p>

                    <hr>

                </div>
                <div>
                    <iframe class="table-responsive" width="1560" height="730" src="https://app.powerbi.com/reportEmbed?reportId=95438164-7a91-4000-bfef-b4d2ff5b89d4&autoAuth=true&ctid=5b8eb3de-48a8-4681-9b24-68a4cdbcb2bc&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </main>
    }
    @{

        if (@TempData.Count > 0)
        {
            <script type="text/javascript">
                    var texto = ' @TempData["mensaje"]';
                    swal({
                        title: '',
                        text: texto,
                        type: 'error'
                    });

            </script>
        }
    }
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../js/mdb.min.js"></script>
    <script>
        /*Global settings*/
        Chart.defaults.global.defaultFontColor = '#fff';

        $(function () {
            let data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(0,0,0,.15)",
                    data: [65, 59, 80, 81, 56, 55, 40],
                    backgroundColor: "#4CAF50"
                }, {
                    label: "My Second dataset",
                    fillColor: "rgba(255,255,255,.25)",
                    strokeColor: "rgba(255,255,255,.75)",
                    pointColor: "#fff",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(0,0,0,.15)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }]
            };

            let dataPie = [{
                value: 300,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Red"
            }, {
                value: 50,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Green"
            }, {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Yellow"
            }]

            let option = {
                responsive: true,
                // set font color
                scaleFontColor: "#fff",
                // font family
                defaultFontFamily: "'Roboto', sans-serif",
                // background grid lines color
                scaleGridLineColor: "rgba(255,255,255,.1)",
                // hide vertical lines
                scaleShowVerticalLines: false,
            };

            //radar
            let ctxR = document.getElementById("conversion").getContext('2d');
            let myRadarChart = new Chart(ctxR, {
                type: 'radar',
                data: {
                    labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling"],
                    datasets: [{
                        label: "My First dataset",
                        data: [65, 59, 90, 81, 56, 55],
                    },
                    {
                        label: "My Second dataset",
                        data: [28, 48, 40, 19, 96, 27],

                    }
                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },

                    scale: {
                        ticks: {
                            display: false
                        },
                    }
                }
            });

            //bar
            let ctx = document.getElementById("traffic").getContext('2d');
            let myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["January", "Febuary", "March", "April", "May", "June"],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0.3)',
                            'rgba(255, 255, 255, 0.3)',
                            'rgba(255, 255, 255, 0.3)',
                            'rgba(255, 255, 255, 0.3)',
                            'rgba(255, 255, 255, 0.3)',
                            'rgba(255, 255, 255, 0.3)'
                        ],
                        borderColor: [
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)'
                        ],
                        borderWidth: 1,
                        color: 'rgba(255, 255, 255, 1)'
                    }]
                },
                optionss: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            //pie
            let ctxP = document.getElementById("seo").getContext('2d');
            let myPieChart = new Chart(ctxP, {
                type: 'pie',
                data: {
                    labels: ["March", "April", "May", "June"],
                    datasets: [{
                        data: [160, 50, 100, 40],
                        backgroundColor: ["#4285F4", "#ffbb33", "#45cafc", "#FF5252"],
                        hoverBackgroundColor: ["#6ea0f2", "#fec451", "#78daff", "#fa6e6e"]
                    }]
                },
                options: {
                    responsive: true
                }
            });

            $('#dark-mode').on('click', function (e) {

                e.preventDefault();

                $('h4, button').not('.check').toggleClass('dark-grey-text text-white');
                $('.list-panel a').toggleClass('navy-blue-bg-a text-white').toggleClass('list-group-border');
                $('.list-panel a').toggleClass('dark-grey-text');
                $('footer, .card').toggleClass('dark-card-admin');
                $('body, .navbar').toggleClass('white-skin navy-blue-skin');
                $(this).toggleClass('white text-dark btn-outline-black');
                $('body').toggleClass('dark-bg-admin');
                $('h6, .card, td, th, i, li a, input, label').not(
                    '#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
                $('.btn-dash').toggleClass('grey blue').toggleClass('lighten-3 darken-3');
                $('.gradient-card-header').toggleClass('white black lighten-4');


                for (let i = 0; i <= 5; i++) {
                    myRadarChart.data.datasets[0].data[i] = (Math.random(i) * 100);
                    myRadarChart.data.datasets[1].data[i] = (Math.random(i) * 100);
                }

                for (let i = 0; i <= 6; i++) {
                    myBarChart.data.datasets[0].data[i] = (Math.random(i) * 100);
                }

                for (let i = 0; i <= 4; i++) {
                    myPieChart.data.datasets[0].data[i] = (Math.random(i) * 100);
                }

                myPieChart.update();
                myBarChart.update();
                myRadarChart.update();
            });


        });</script>
    <script>
        $(function () {
            $('.min-chart#chart-sales').easyPieChart({
                barColor: "#4caf50",
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
        });

        // Data Picker Initialization
        $('.datepicker').pickadate();


        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // Sidenav Initialization
        $(".button-collapse").sideNav();

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })</script>
    <!-- JVectorMap -->
    <link rel="stylesheet" href="../../js/vendor/jvectormap/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
    <script src="../../js/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../js/vendor/jvectormap/jquery-jvectormap-world-mill.js"></script>
    <script>
        $(function () {

            colors = {};

            colors['ca'] = '#A4D886';
            colors['ru'] = '#FCECA2';
            colors['cn'] = '#F9573B';
            colors['us'] = '#87CEEB';
            colors['jp'] = '#34BD0E';
            colors['au'] = '#BCC7FC';
            colors['kz'] = '#D4624E';
            colors['de'] = '#34BD0E';

            $('#world-map').vectorMap({
                colors: colors,
                hoverOpacity: 0.7, // opacity for :hover
                hoverColor: false
            });

        });</script>
    <!-- /.JVectorMap -->
</body>

</html>