@using AxonAccessMVC.Models.Clases;
@model AxonAccessMVC.Models.Mae_Usuario
@{
    ViewBag.Title = "Axonia";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;

    }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
        <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">

    </head>
    <body>

        <div class="online-w3l-form">

            <form action="#" method="post">
                @{ List<Usuario> usuarios = (List<Usuario>)ViewBag.usuarios;}


                <div class="form-left-w3l">
                    <input type="text" class="top-up" name="Nombre" placeholder="Nombre" required="">
                </div>
                <div class="main">
                    <div class="form-left-w3l">

                        <input type="text" class="top-up" name="app_pater" placeholder="A.paterno" required="">
                    </div>
                    <div class="form-right-w3ls ">
                        <input type="text" class="top-up" name="app_mater" placeholder="A.Materno" required="">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="main">
                    <div class="form-right-w3ls ">
                        <input type="text" class="top-up" name="Rut" placeholder="Rut" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-left-w3l">
                        <input type="text" class="top-up" name="Dv" placeholder="Digito Verificador" required="">
                    </div>
                </div>
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="email" name="Mail" placeholder="Email" required="">
                    </div>
                    <div class="form-right-w3ls ">
                        <input class="buttom" type="text" name="telefono" placeholder="Phone Number" required="">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-add-w3ls">
                    <input type="text" name="direccion" placeholder="Direccion" required="">
                </div>
                <div class="form-add-w3ls">
                    <input type="text" name="Pass" placeholder="Password" required="">
                </div>


                <div class="main">
                    <div class="form-left-w3l">
                        <select class="form-control buttom" @Html.DropDownListFor(p => p.id_role, new SelectList(ViewBag.roles, "Id_Role", "desc_role")) </select>
                    </div>
                    <div class="form-right-w3ls">


                        <select class="form-control buttom" @Html.DropDownListFor(p => p.id_estado, new SelectList(ViewBag.estados, "Id_Estado", "desc_estado"))</select>

                    </div>
                </div>

                <div class="main">
                    <div class="form-left-w3l">
                            
                        <select class="form-control buttom" @Html.DropDownListFor(p => p.id_comuna, new SelectList(ViewBag.comunas, "Id_Comuna", "desc_comuna"))</select>

                    </div>
                    <div class="form-right-w3ls">

                        <select class="form-control buttom" @Html.DropDownListFor(p => p.id_empresa, new SelectList(ViewBag.empresas, "id_empresa", "desc_empresa"))</select>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="btnn">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
        </div>
    </body>
</html>
